<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <title> 404 Not Found</title>
    <script src="http://www.lmlblog.com/winter/templets/xq/js/snowy.js"></script>
    <script src="http://www.lmlblog.com/blog/14/js/Snow.js"></script>
    <style type="text/css">
    .snow-container{position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none;z-index:100001;}
    </style>
    <div class="snow-container"></div>

</head>
<body style="color: #444; margin:0;font: normal 14px/20px Arial, Helvetica, sans-serif; height:100%; background-color: #fff;">
<div style="height:auto; min-height:100%; ">     <div style="text-align: center; width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;">
    <h1 style="margin:0; font-size:150px; line-height:150px; font-weight:bold;">404</h1>
    <h2 style="margin-top:20px;font-size: 30px;">
    </h2>
    <h4><a style="color: rgb(255, 0, 0);">未知力量已攻占本网页!!!</a></h4>
    <p>The resource requested could not be found on this server!</p>
    <div class="button">
        <h2>        <a href="http://www.whbfireworks.com:666/login" title="登录界面" target="_blank" style="text-decoration:none;color: #444;">返回登录页</a>
        </h2>
    </div>
</div></div></body></html>