<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <title>填写成功</title>
    <script src="https://files.cnblogs.com/files/quaint/sakuraPlus.js"></script>
</head>


<body style="color: #444; margin:0;font: normal 14px/20px Arial, Helvetica, sans-serif; height:100%; background-color: rgb(215, 248, 233);">
<div style="height:auto; min-height:100%; ">     <div style="text-align: center; width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;">
    <h1 style="margin:0; font-size:50px; line-height:50px; font-weight:bold;">感谢您的参与</h1>
    <h2 style="margin-top:20px;font-size: 30px;">
    </h2>
    <a style="color: rgb(255, 0, 0);margin:0; font-size:20px; line-height:20px; font-weight:bold;">请访问考研数据可视化页面</a>
    <p style="font-size:25px; line-height:25px;">www.whbfireworks.com:555/school</p>
    <div class="button">
        <h2>        <a href="http://www.whbfireworks.com:555/school" title="登录界面" target="_blank" style="text-decoration:none;color: rgb(92, 18, 63);">点击跳转</a>
        </h2>
    </div>
</div></div></body></html>